@use "index";

#app > .room {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

@media (prefers-color-scheme: dark) {
  #app .room {
    color: index.$text_light;
  }
}
